.top-page{
    // background-color: rgb(132, 203, 250);
    background-color: rgba(99, 136, 185, 0.74);
    height:160px;
}
.mid-page{
    // background-color: rgb(98, 184, 241);
    background-color: rgba(41, 92, 160, 0.733);
    height:400px;
}
.footter-page{
    // background-color: rgb(0, 162, 255);
    background-color: rgba(63, 95, 165, 0.699);
    height:160px;
}
input{
    width: 350px;
    margin: 0 auto;
    display: block;
}

button{
    width: 130px;
    background-color: rgba(41, 92, 160, 0);
    color: #ffffff;
    font-size: 12pt;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 2px solid #ffffff;
}
u{
    color: #ffffff;
    font-size: 10pt;
    margin: 0 auto;
    display: block;
    text-align: center;
}
i{
    color: #ffffff;
    margin: 0 auto;
    display: block;
    text-align: right;
    // left: 40px;
}
// .btn{
//     display: none;
//     position: fixed;
//     bottom: 5px;
//     right: 5px;
//     z-index: 99;
//     font-size: 15pt;
//     border: none;
//     outline: none;
//     background-color: #8dc63f;
//     border: 1px solid #81a453;
//     color: white;
//     cursor: pointer;
//     padding: 11px;
//     border-radius: 30px;
// }
img{
    width: 100px;
    height: 100px;
    
    padding-top: 5px;
    margin: 0 auto;
    display: block;
}
.label-1{
    font-size: 20pt;
    color: #ffffff;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
.label-2 {
    font-size: 10pt;
    color: #ffffff;
    font-weight: 300;
    display: flex;
    justify-content: center;
}   

